@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    margin: 0px;
    padding: 36px 100px 100px 100px;
    justify-content: space-between;
}

.bottom-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
}

.top-head {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 48px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    flex: 1;
    }

.head-links {
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex: 3;
    justify-content: flex-end;
    margin: auto;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.placeholder {
    color: #e5e7eb;
    font-size: 12px;
    padding: 72px;
    margin: px;
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 100px;
}

button {
    background-color: #3882f6;
    text-align: center;
    color: #ffffff;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 900;
    width: 136px;
}

li {
    padding: 12px;
    white-space: nowrap;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-right: 12px;
}

.head {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 140px;
    align-items: center;
}

.bottom-body{
    display: flex;
}

.card {
    padding: 60px;
    border: solid;
    border-radius: 12px;
    border-color: #3882f6;
}

.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 150px;
    margin: 12px;
}

.info {
    margin-top: 12px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    width: 900px;
}

.sayer {
    display: flex;
    justify-content:right;
    align-items: flex-start;
    font-weight: bold;
    color: #1f2937;
    font-size: 24px;
    margin-top: 0px;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 48px 100px;
    margin: 100px auto;
    color: #f9faf8;
    border-radius: 6px;
    width: 1000px;
    align-items: center;
}

.upper {
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
}

.lower {
    margin-top: 0px;
}

.done {
    border: solid;
    border-width: 2px;
    border-color: #f9faf8;
    padding: 0px;
    height: 40px;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 50px;
}